<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalized Assessment System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

</head>
<body>
    <nav>
        <ul>
            <li class="icon-main"><a href="/">StudDash</a></li>
            {% if 'username' in session %}
                {% if session['role'] == 'admin' %}
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/create-assessment">Create Assessment</a></li>
                    <li><a href="/generate-reports">Class Reports</a></li>
                    <li><a href="/view-assessments">View Assessments</a></li>
                    <li><a href="/individual-reports">Individual Reports</a></li>
                    <li><a href="/add-users">Add User</a></li>
                {% elif session['role'] == 'teacher' %}
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/create-assessment">Create Assessment</a></li>
                    <li><a href="/view-assessments">View Assessments</a></li>
                    <li><a href="/generate-reports">Class Reports</a></li>
                    <li><a href="/individual-reports">Individual Reports</a></li>
                {% elif session['role'] == 'student' %}
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/take-assessment">Take Assessment</a></li>
                    <li><a href="/view-results">View Results</a></li>
                {% endif %}
                <li style="float: right;"><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
</body>
</html>
