<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudDash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <nav>
        <div class="brand"> <a id="home-icon" href="/">StudDash</a></div>
        <input type="checkbox" id="toggle" class="toggle-input">
        <label for="toggle" class="toggle-label">&#9776;</label>
        <ul class="navbar-items">
            {% if 'username' in session %}
                {% if session['role'] == 'admin' %}
                    <li class="navbar-item"><a href="/dashboard">Home</a></li>
                    <li class="navbar-item"><a href="/create-assessment">Create Assessment</a></li>
                    <li class="navbar-item"><a href="/generate-reports">Generate Reports</a></li>
                    <li class="navbar-item"><a href="/view-assessments">View Assessments</a></li>
                    <li class="navbar-item"><a href="/individual-reports">Individual Reports</a></li>
                    <li class="navbar-item"><a href="/add-users">Add User</a></li>
                {% elif session['role'] == 'teacher' %}
                    <li class="navbar-item"><a href="/dashboard">Home</a></li>
                    <li class="navbar-item"><a href="/create-assessment">Create Assessment</a></li>
                    <li class="navbar-item"><a href="/view-assessments">View Assessments</a></li>
                    <li class="navbar-item"><a href="/generate-reports">Generate Reports</a></li>
                    <li class="navbar-item"><a href="/individual-reports">Individual Reports</a></li>
                {% elif session['role'] == 'student' %}
                    <li class="navbar-item"><a href="/dashboard">Home</a></li>
                    <li class="navbar-item"><a href="/take-assessment">Take Assessment</a></li>
                    <li class="navbar-item"><a href="/view-results">View Results</a></li>
                {% endif %}
                <li class="navbar-item right"><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
</body>
</html>
